@mixin button() {
    padding: 12px 24px;
    border-radius: var(--border-radius);
}

@mixin section($url, $position) {
    background: linear-gradient(180deg, var(--main-background-color) 29.73%, var(--quaternary-color) 100%), url($url) no-repeat $position;
}